<Project>
  <PropertyGroup>
    <PublishProtocol>FileSystem</PublishProtocol>
    <Configuration>Release</Configuration>
    <TargetFramework>net10.0-windows</TargetFramework>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <PublishDir>bin\Release\net10.0-windows\win-x64\publish-aot\</PublishDir>
    <SelfContained>true</SelfContained>
    <PublishAot>true</PublishAot>
  </PropertyGroup>
</Project>
